#main-game {
  display: none;
}

#one-dice {
  display: none;
  width: 300px;
}

.dice-side {
  display: none;
  width: 300px;
  float: right;
  margin: 15px;
}

#turn {
  display: none;
}

#player1-total {
  background-color: #0066ff
}

#player2-total {
  background-color: #ff0000
}

#winner {
  display: none;
  text-align: right;
}

.dice {
  font-size: 60px;
  float: left;
  width: 400px;
  margin: 15px;
  border: 9px solid blue;
  padding: 5px;
  background-color: #ff9900;
  text-align: center;
}

.difficulty {
  font-size: 60px;
  float: right;
  width: 400px;
  margin: 15px;
  border: 9px solid red;
  padding: 5px;
  background-color: #009933;
  text-align: center;
}

.start {
  float: left;
  text-align: center;
  margin-top: 200px;
  margin-left: 50px;
  border: 5px solid green;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #ff99cc;
}
